* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #2059ca, #ba66cf);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 540px;
}

.todo-app {
    background: rgba(243, 235, 235, 0.15);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 40px 30px 70px;
    width: 100%;
}

.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

input {
    border-radius: 30px;
    border: 2px solid #ddd;
    padding: 12px;
    font-size: 16px;
    margin-bottom: 15px;
}

ul li {
    position: relative;
    font-size: 17px;
    padding: 12px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding-left: 40px;
    justify-content: space-between;
    border-radius: 8px;
}
ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%; 
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 5px;
    margin-right: 0px; 
}
ul li.checked::before {
    background-image: url(images/checked.png); 
}
ul li:hover {
    background-color: #f1f1f1;
}

ul li.checked {
    text-decoration: line-through;
    color: #555;
}

ul li span {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li span i {
    cursor: pointer;
    font-size: 22px;
    margin-left: 15px; 
}

ul li span i:hover {
    color: #e65100;
}

button {
    padding: 12px 18px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}
